<div class="navbar_container">
  <!-- logo -->
  <div class="logo_text">TZTun.</div>

  <!-- menu-button -->

  <div class="menu_button_container d-flex justify-content-between">
    <a (click)="scrollToHome()"> Home</a>
    <a (click)="scrollToAboutme()"> About</a>
    <a (click)="scrollToEducation()"> Education</a>
    <a href=""> Skills</a>
    <a href=""> Contact</a>
  </div>

  <a *ngIf="sidebarOpen" class="close-btn" (click)="closeToggle()"
    ><i class="fa-solid fa-xmark"></i
  ></a>

  <i
    class="fa-solid fa-bars"
    (click)="toggleSidebar()"
    *ngIf="!sidebarOpen"
  ></i>
</div>

<!-- side bar -->
<div class="sidebar" [class.open]="sidebarOpen">
  <ul>
    <li><a href="">closeToggle</a></li>
    <li><a href="">Education</a></li>
    <li><a href="">Skills</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">About</a></li>
  </ul>
</div>

<div class="main_container">
  <!-- body -->
  <div class="body_container" #homeSection>
    <!-- left text -->
    <div class="text_container">
      <h1>Hi,I'm Thant Zin Jr</h1>
      <h4 class="mt-3">Frontend Developer</h4>
      <p class="mt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In pariatur
        sit voluptas tempora quibusdam assumenda, libero, cumque distinctio
        architecto
      </p>
      <div>
        <button class="btn1">Hire Me</button>
        <button class="btn2">Let's Talk</button>
      </div>
      <div class="body-icon">
        <a href=""> <i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a
          href="https://www.linkedin.com/in/thant-zin-tun-1298522a0/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <!-- right text -->

    <div class="image_container">
      <img src="/assets/images/man.png" alt="image" class="logo" />
    </div>
  </div>

  <!-- about me -->
  <div #aboutMeSection>
    <app-about-me></app-about-me>
  </div>

  <!-- education -->
  <div #educationSection>
    <app-education></app-education>
  </div>
</div>
<!-- Skills -->
<app-skills></app-skills>

<app-box-menu></app-box-menu>
