<div class="main-box-container">
  <div class="sec-container">
    <ul>
      <li class="icon-home" style="--i: 6"><a href="#">Home</a></li>
      <li class="icon-user" style="--i: 5"><a href="#">About</a></li>
      <li class="icon-music" style="--i: 4"><a href="#">Services</a></li>
      <li class="icon-folder" style="--i: 3"><a href="#">Portfolio</a></li>
      <li class="icon-people" style="--i: 2"><a href="#">Our Team</a></li>
      <li class="icon-mail" style="--i: 1"><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
