<div class="education-container">
  <h1>My <span>Journey</span></h1>

  <div class="education-body">
    <div class="box-container">
      <h2>Education</h2>
      <div class="box-style">
        <h6>HEADER</h6>
        <h4>Education Class</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum
          corporis non architecto suscipit illum libero neque, aut id possimus
          laborum incidunt culpa, ratione necessitatibus, impedit optio eos
          beatae accusantium!
        </p>
      </div>
      <div class="box-style">
        <h6>HEADER</h6>
        <h4>Education Class</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum
          corporis non architecto suscipit illum libero neque, aut id possimus
          laborum incidunt culpa, ratione necessitatibus, impedit optio eos
          beatae accusantium!
        </p>
      </div>
      <div class="box-style">
        <h6>HEADER</h6>
        <h4>Education Class</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum
          corporis non architecto suscipit illum libero neque, aut id possimus
          laborum incidunt culpa, ratione necessitatibus, impedit optio eos
          beatae accusantium!
        </p>
      </div>
    </div>
    <div class="box-container">
      <h2>Education</h2>
      <div class="box-style">
        <h6>HEADER</h6>
        <h4>Education Class</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum
          corporis non architecto suscipit illum libero neque, aut id possimus
          laborum incidunt culpa, ratione necessitatibus, impedit optio eos
          beatae accusantium!
        </p>
      </div>
      <div class="box-style">
        <h6>HEADER</h6>
        <h4>Education Class</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum
          corporis non architecto suscipit illum libero neque, aut id possimus
          laborum incidunt culpa, ratione necessitatibus, impedit optio eos
          beatae accusantium!
        </p>
      </div>
      <div class="box-style">
        <h6>HEADER</h6>
        <h4>Education Class</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum
          corporis non architecto suscipit illum libero neque, aut id possimus
          laborum incidunt culpa, ratione necessitatibus, impedit optio eos
          beatae accusantium!
        </p>
      </div>
    </div>
  </div>
</div>
